body{
    /* background: #78ca5d; */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position:center;
    background-size: auto 100% ;
}

.container{
    width:60%;
    margin:0 auto;
    margin-top:15%;
}

.container h1{
    float:center;
    position:relative;
}