body{
    /* background: #78ca5d; */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position:center;
    background-size: auto 100% ;
}

#container{
    width:50%;
    margin:0 auto;
    margin-top:100px;
    margin-bottom: 100px;
    
}
/* Bordered form */
form {
    width:80%;
    padding: 50px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#container h1{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
    grid-area:1/1/3/3;
}
#container p{
    font-size:10px;
    margin:0 auto;
}
#container a{
    text-decoration: none;
    position:relative;
    left:26.5%;
    padding-top:30px;
    color:black;
}
#container a:hover{
    color:#1d7922;
    font-weight: bold;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=mail], textarea, select {
    width: 95%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input:hover{
    color:#1d7922;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #2b792f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
    box-shadow: 5px 5px 10px #295c2c;
}

input[type=file]{margin-bottom: 10px;}


#gestion p{
    font-size:11px;
    margin:0;
}

@media screen and (max-width: 40rem) {
    #container{width:70%;}
}
@media screen and (max-width: 30rem) {
    #container{width:90%;}
}

