/* .thx{
    position: fixed; 
    left:50%;
    transform:translateX(-50%);
    bottom: 15px;
} */
.menuD{
    width: 100%;
    position: fixed;
    top:0px;
    text-align:center;
    background-color: white;
    height:80px;
    z-index:10;
}
.menuD a{
    font-family: 'Oswald', sans-serif;
    font-weight:500;
    top:30px;
    text-transform:uppercase;
    text-decoration:none;
    color:#16151b;
    margin:0 15px;
    font-size:18px;
    letter-spacing:1px;
    position:relative;
    display:inline-block;
}
.menuD a:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    background:#16151b;
    top:47%;
    animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
.menuD a:hover:before{
    animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
    0%{width: 0; left:0; right:auto; }
    100%{left:0;right:auto;width: 100%;}
}
@keyframes out{
    0%{width:100%;left: auto;right: 0;}
    100%{width: 0;left: auto;right: 0;}
}
