
.menuD{
    width: 100%;
    position: fixed;
    top:0px;
    text-align:center;
    background-color: white;
    height:80px;
    z-index:10;
    
}

.menuD a{
    font-family: 'Oswald', sans-serif;
    font-weight:500;
    top:30px;
    text-transform:uppercase;
    text-decoration:none;
    color:#16151b;
    margin:0 15px;
    font-size:18px;
    letter-spacing:1px;
    position:relative;
    display:inline-block;
}
*:hover{
  text-decoration: none;
  color:#16151b;
}
.menuD a:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    background:#16151b;
    top:47%;
    animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
.menuD a:hover:before{
  
    animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
    text-decoration: none;
}
@keyframes in{
    0%{width: 0; left:0; right:auto; }
    100%{left:0;right:auto;width: 100%;}
}
@keyframes out{
    0%{width:100%;left: auto;right: 0;}
    100%{width: 0;left: auto;right: 0;}
}




/* animation contour bleu
*{box-sizing:border-box}

.bordure-anim a {
    border: 1px solid #3cddc4;	
    display: grid;
    place-items: center;
    font-size: 1.25rem;
    width: 100%;
    max-width: 300px;
    margin: 2rem auto;
    position: relative;
    height: 80px;	
}

.bordure-anim span:first-of-type {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1px;
}	


.bordure-anim span:first-of-type::before {
  position: absolute;
  content: '';
  opacity: 0;
  border-top: solid 2px #7d68e8;
  border-left: solid 2px #7d68e8;
  right: 50%;	
}
	
.bordure-anim span:first-of-type::after {
    position: absolute;
    content: '';
    opacity: 0;
    border-top: solid 2px #7d68e8;
    border-right: solid 2px #7d68e8;
    left: 50%;
}	

	
.bordure-anim a:hover span:first-of-type::before, 
.bordure-anim a:hover span:first-of-type::after {
    opacity: 1;
    animation: bordure .4s forwards;
}
	
.bordure-anim a:hover span:last-of-type:before, 
.bordure-anim a:hover span:last-of-type:after {
    opacity: 1;
    animation: bordure-bas .4s .4s forwards ;
}
	

.bordure-anim span:last-of-type {
    width: 100%;
    left:0;
    top:0;
    position: absolute;
}
	
.bordure-anim span:last-of-type::before {    
    position: absolute;
    content: '';
    opacity: 0;
    height:80px;
    border-bottom: solid 2px #7d68e8;
    right: 0;
}
	
	
.bordure-anim span:last-of-type::after {	
    position: absolute;
    content: '';
    opacity: 0;
    height:80px;
    border-bottom: solid 2px #7d68e8;
    left: 0;
}

@keyframes bordure {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 50%;
    height: 0;
  }
  100% {
    width: 150px;
    height: 80px;
  }
}	
	
@keyframes bordure-bas {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
*/

